.planedLand {
    background-color: #efefef;
    border-radius: 10px;
    display: flex;
    margin: 20px 30px 10px 30px;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
    color: black;
    min-height: 60vh;
}

.planedMainParagraph {
    width: 70%;
    text-align: justify;
    max-width: 900px;
}