.toDoListSection {
    margin: 20px 30px 10px 30px;
    border-radius: 10px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: space-between; НИ В КОЕМ СЛУЧАЕ НЕ ВВОДИТЬ НА ДАННОЙ СТАДИИ flex-wrap: wrap;!!! */
    gap: 30px;
    padding: 10px;
}

.toDoAppender {
    width: 100%;
    display: grid;
    grid-template-columns: auto 60px;
    border-radius: 5px;
    height: 60px;
    border: 2px solid black;
}

.appendToDo {
    background: transparent;
    color: black;
    outline: none;
    height: 60px;
    border: 0;
    font-size: 16px;
}

.confirmToDoAppending{
    height: 60px;
    width: 60px;
    border: 0;
    color: black;
    font-weight: 900;
    font-style: 18px;
    background: transparent;
    transition: .25s all ease-in-out;
}

.confirmToDoAppending:hover {
    color: white;
    background-color: #000;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.toDoListWrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.toDoListSectionContentContainer {
    min-width: 300px;
    width: 50%; /* некоторая заготовка для адаптации. Так будет проще адаптировать под телефоны, ибо в дальнейшем просто media-запросы делать надо будет, а не возиться с размерами и выдумывать велосипед, чтобы не произошел перенос не дай бог. Поясняю себе на будущее, ибо я опять, вероятно, забью на пару недель, ибо опять время начинает играть со мной злую шутку */
    height: 568px; /* экран у iPhone 5S/SE 1st Generation - 28px. Вписано чисто для того, чтобы в дальнейшем можно было адаптировать под них */
    padding: 0;
    border-radius: 10px;
    background-color: #555555; /* лол, обожаю темные цвета. Мне нравится то, как он выглядит здесь. В будущем буду обновлять приложение (редизайн запланирован на обновление 2.0.0) */
    box-shadow: 0px 0px 5px 1px #000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.toDoListSectionContentContainer > ul {
    overflow: scroll;
    margin: 0;
    height: auto;
}

.toDoListSectionContentContainer > header {
    border-radius: 10px 10px 0px 0px;
    min-height: 45px;
    display: flex;
    align-items: center;
}

.toDoListSectionContentContainer > header > h1 {
    padding: 0px 10px;
}

.notStartedContainer > header {
    background-color: red;
    width: 100%;
}

.inProgressContent > header {
    background-color: #f80;
}

.readyContent > header {
    background-color: #0a0;
}

.freezedContent > header {
    background-color: #888;
}

.listOfToDos > li {
    text-decoration: none;
    list-style: none;
    background-color: #fff;
}



.toDoListSectionContentEachContainer {
    background-color: #fff;
    width: 100%;
    color: #000;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    vertical-align: middle;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
}

.innerTDL_ContentPart {
    max-width: 75%;
}


.innerTDL_ControlButtonReady {
    background-color: #0a0;
}

.innerTDL_ControlButtonInProgress {
    background-color: #f80;
}

.innerTDL_ControlButtons {
    font-size: 16px;
    transition: all .25s linear;
    outline: 0;
    border: 0;
    font-weight: 700;
}

.innerTDL_ControlButtons.innerTDL_ControlButtonArchieve {
    background-color: #00aaff;
}

.innerTDL_ControlButtons:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 3px black;
}

.innerTDL_ContentPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    word-break: break-all;
}

.innerTDL__ControlButtonsContainer {
    border-radius: 10px;

    display: grid;
    grid-template-columns: auto auto auto;
    min-width: 150px;
    min-height: 50px;
    height: 100%;
}

.innerTDL_ControlButtonFreezed {
    border-radius: 0px 0px 0px 10px;
    background-color: #888;
}

.innerTDL_ControlButtonNSt {
    border-radius: 0px 0px 0px 10px;
    background-color: red;
}


.sectionTDL_archieveTag {
    color: #000;
}

.sectionTDL_openArchieveButton {
    color: #000;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
}

.sectionTDL_archieveHeader {
    display: flex;
    justify-content: space-between;
}

.sectionTDL_archieveList {
    max-height: 80vh;
    overflow-y: scroll;
}

.sectionTDL_archieveList > li {
    color: #000;
    list-style: none;
}
